<section class="about">
  <div class="about-container">
    <div class="side1">
      <div class="logo-container">
        <img class="sideimage" src="assets/gif1.gif" alt="assets/stiker1.png" />
      </div>
    </div>
    <div class="side2">
      <div class="heading-1 font-bold">
        About <span class="highligh-primary-color">Me</span>
      </div>
      <div>
        <div class="heading-6 font-light quote">
          &nbsp; &nbsp; &nbsp; I’m
          <span class="text-color font-bold">Vishwajeet Kalokhe</span> , an
          aspiring Software Developer , studied at SIOM, Pune. I focus on
          software development, data analysis. I’m building a solid foundation
          and boost my skills. I believe in continuous learning and aim to
          contribute to tech innovations as I progress in my
          <span class="quote2">career.</span>
        </div>
      </div>
      <div class="d-flex-center">
        <div class="heading-3 font-bold ">
          <span class="highligh-primary-color">Professional </span>
          <span>Journey</span>
        </div>
        <div class="heading-6 font-light">
          I thrive in collaborative environments and enjoy working on projects
          that push the boundaries of innovation. My GitHub portfolio showcases
          my dedication to learning and developing practical solutions. Here are
          some highlights:
        </div>
      </div>
      <div class="download-cv">
        <div class="download-button-cv heading-6 font-bold">Read More...</div>
      </div>
    </div>
  </div>
</section>
