<section class="certificate">
  <div class="certificate-container1">
    <div class="side1">
      <div style="width: 100%; text-align: center" class="heading-1 font-bold">
        <span class="highligh-primary-color">Our</span> Badges & Certificates
      </div>
      <div style="width: 100%">
        <div class="card">
          <p-carousel
            [value]="items"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template pTemplate="item" let-item>
              <div class="actions">
                <Div class="certificate-container">
                  <div class="certificate-image">
                    <img
                      src="https://www.shutterstock.com/image-vector/modern-certificate-template-design-awards-600nw-2504083753.jpg"
                      jsaction=""
                      class="sFlh5c FyHeAf iPVvYb"
                      style="
                        height: 130px;
                        margin: 0px;
                        width: 220px;
                        object-fit: cover;
                      "
                      alt="4,825 Certificate Format Royalty-Free Photos and Stock ..."
                      jsname="kn3ccd"
                      aria-hidden="false"
                    />
                  </div>
                  <div class="certificate-heading heading-6 font-bold">
                    Aws Certificate
                  </div>
                  <div class="certificate-body">
                    <div class="heading-7 font-normal">
                      Lorem ipsum dolor sit amet
                    </div>
                    <div class="download-cv certificate-footer">
                      <div class="download-button-cv heading-7">show</div>
                    </div>
                  </div>
                </Div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
