<section class="certificate">
    <div class="certificate-container1">
      <div class="side1">
        <div style="width: 100%; text-align: center" class="heading-1 font-bold">
          <span class="highligh-primary-color">Our</span>  Projects
        </div>
        <div style="width: 100%">
          <div class="card">
            <p-carousel
              [value]="items"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
            >
              <ng-template pTemplate="item" let-item>
                <div class="actions">
                  <Div class="certificate-container">
                    <div class="project-card">
                        <img class="project-image" style="width: 100%;"
                          src="https://www.shutterstock.com/image-vector/modern-certificate-template-design-awards-600nw-2504083753.jpg"
                          jsaction="" class="sFlh5c FyHeAf iPVvYb" alt="4,825 Certificate Format Royalty-Free Photos and Stock ..."
                          jsname="kn3ccd" aria-hidden="false">
                        <div class="project-details">
                          <div class="heading-6 font-bold">Project Title</div>
                          <div class="heading-7 font-normal">Description of the project goes here. A short overview of what this project is about.</div>
                        </div>
                      </div>
                      <div class="project-title heading-6 font-bold">
                        Aws Prroject
                      </div>
                  </Div>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  