<section class="certificate">
  <div class="certificate-container1">
    <div class="side1">
      <div style="width: 100%; text-align: center" class="heading-1 font-bold">
        Expereiences
      </div>
      <div style="width: 100%">
        <div class="card">
          <p-carousel
            [value]="items"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template pTemplate="item" let-item>
              <div class="actions">
                <div>
                  <div class="profile-card">
                    <div class="background-image">
                      <!-- Background image for the profile card -->
                    </div>
                    <div class="profile-picture">
                      <img
                        src="https://www.shutterstock.com/image-vector/modern-certificate-template-design-awards-600nw-2504083753.jpg"
                        jsaction=""
                        class="sFlh5c FyHeAf iPVvYb"
                        alt="4,825 Certificate Format Royalty-Free Photos and Stock ..."
                        jsname="kn3ccd"
                        aria-hidden="false"
                      />
                    </div>
                    <div class="profile-details">
                      <div class="heading-6 font-bold">John Doe</div>
                      <hr style="margin: 4px;">
                      <div class="heading-7 font-bold highligh-primary-color">Software Developer</div>
                      <hr style="margin: 4px;">

                      <div class="heading-7 font-normal">
                        Enthusiastic developer with a passion for creating
                        impactful digital experiences.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
